<section class="projects-section">
  <h1>Projects</h1>

  <div class="projects-grid">

    <div class="project-card">
      <div class="image-container">
        <img src="https://res.cloudinary.com/dmb0ic39b/image/upload/v1744550972/1740067551360_dt83rg.jpg" alt="lib created">
        <div class="overlay">
          <a href="https://www.npmjs.com/package/graphium" target="_blank">
            <i class="fas fa-globe"></i>
          </a>
        </div>
      </div>
      <div class="project-content">
        <h3>Created NPM Library</h3>
        <p>User can create dynamic charts like Plot, Pie, Line, Scatter, etc.</p>
        <div class="tags">
          <span>Angular</span>
          <span>JavaScript</span>
          <span>TypeScript</span>
          <span>C3.js</span>
        </div>
      </div>
    </div>

    <div class="project-card">
      <div class="image-container">
        <img src="https://res.cloudinary.com/dmb0ic39b/image/upload/v1744550206/Screenshot_2025-04-11_at_11.09.14_AM_qi4vc2.png" alt="Admin Dashboard">
        <div class="overlay">
          <a href="hhttps://github.com/AbhijitBorate-code/ifelsecloud-dashboard" target="_blank">
            <i class="fas fa-globe"></i>
          </a>
        </div>
      </div>
      <div class="project-content">
        <h3>Admin Project Dashboard</h3>
        <p>User can see live graphical data Visualization in C3.js, with update/delete/add options data also managed paginator</p>
        <div class="tags">
          <span>Angular</span>
          <span>JavaScript</span>
          <span>TypeScript</span>
          <span>C3.js</span>
        </div>
      </div>
    </div>

    <div class="project-card">
      <div class="image-container">
        <img src="https://res.cloudinary.com/dmb0ic39b/image/upload/v1744550700/1739205790817_jyjlhi.jpg" alt="social Application">
        <div class="overlay">
          <a href="" target="_blank">
            <i class="fas fa-globe"></i>
          </a>
        </div>
      </div>
      <div class="project-content">
        <h3>React Social Media Application</h3>
        <p>Created social media application using React and TypeScript.</p>
        <div class="tags">
          <span>React</span>
          <span>JavaScript</span>
          <span>TypeScript</span>
        </div>
      </div>
    </div>

    <div class="project-card">
      <div class="image-container">
        <img src="https://res.cloudinary.com/dmb0ic39b/image/upload/v1744728262/Screenshot_2024-12-12_at_11.13.01_PM_1_oiaaco.png" alt="admin lib magement">
        <div class="overlay">
          <a href="https://github.com/AbhijitBorate-code/admin-lib-management" target="_blank">
            <i class="fas fa-globe"></i>
          </a>
        </div>
      </div>
      <div class="project-content">
        <h3>Admin Library Management</h3>
        <p>Admin can be managed with the ability to create, update, and assign books. Additionally, users can also release books as needed</p>
        <div class="tags">
          <span>Angular</span>
          <span>JavaScript</span>
          <span>TypeScript</span>
          <span>Rxjs</span>
        </div>
      </div>
    </div>

  </div>
</section>
