<section class="projects-section">
  <h1>Projects</h1>
  <div class="project-card">
    <img src="https://res.cloudinary.com/dmb0ic39b/image/upload/v1744550972/1740067551360_dt83rg.jpg" alt="lib created" class="project-img" >
    <div class="card-header">
      <h3>Created NPM Library</h3>
      <a
        href="https://www.npmjs.com/package/graphium"
        target="_blank"
      >
        <i class="fas fa-globe"></i>
      </a>
    </div>
    <p>
      User can Create Dynamic Chart Using This Library like Plot ,Pie ,Line ,Scatter etc
    </p>
    <div class="tags">
      <span>Angular</span>
      <span>JavaScript</span>
      <span>TypeScript</span>
      <span>C3.js</span>
    </div>
  </div>

  <div class="project-card">
    <img src="https://res.cloudinary.com/dmb0ic39b/image/upload/v1744550206/Screenshot_2025-04-11_at_11.09.14_AM_qi4vc2.png" alt="NPM Library Screenshot" class="project-img" />
    <div class="card-header">
      <h3>Admin Project Dashboard</h3>
      <a href="https://www.npmjs.com/package/graphium" target="_blank">
        <i class="fas fa-globe"></i>
      </a>
    </div>
    <p>User Can see Live graphical Demonstration Using c3.js and along with user can  update / Delete / Add / operations can Perform </p>
    <div class="tags">
      <span>Angular</span>
      <span>JavaScript</span>
      <span>TypeScript</span>
      <span>C3.js</span>
    </div>
  </div>

  <!-- React Socail media Apllication -->

  <div class="project-card">
    <img src="https://res.cloudinary.com/dmb0ic39b/image/upload/v1744550700/1739205790817_jyjlhi.jpg" alt="social Application" class="project-img" />
    <div class="card-header">
      <h3>React social Media Application</h3>
      <a href="https://www.npmjs.com/package/graphium" target="_blank">
        <i class="fas fa-globe"></i>
      </a>
    </div>
    <p>Created social Applications  </p>
    <div class="tags">
      <span>React</span>
      <span>JavaScript</span>
      <span>TypeScript</span>
    </div>
  </div>

</section>
