<section class="home-section">
  <div class="intro">
    <h1>Abhijit Borate</h1>
    <h2>Frontend Software Developer</h2>
    <p>
      With over 3 years of experience in building robust web and cloud applications, I possess expertise in Angular,
       React, TypeScript, and JavaScript. I specialize in API integration, scalable UI development, and real-time applications.
       Proficient in Agile methodology and UI architecture, I am also familiar with Kubernetes (basics) and Postman,
       enabling seamless collaboration and efficient development processes
    </p>
    <div class="contact-info">
      <p><i class="fas fa-phone-alt"></i> +91 8591913169</p>
      <p><i class="fas fa-envelope"></i> <span>abhijitborate20&#64;gmail.com</span></p>
    </div>

    <div class="social-icons">
      <a href="https://github.com/AbhijitBorate-code" target="_blank"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/abhijit-borate/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
  <div class="profile-image">
    <img src="https://res.cloudinary.com/dmb0ic39b/image/upload/v1744542554/IMG_20250310_173923_120_copy_uqk7xp.webp" alt="Abhijit Borate">
  </div>
</section>
